
.column-progress {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(204, 213, 235, 1);
    opacity: 0.9;
    width: 350px;
    border-radius: 5px;
    &.swiper-slide{
      width: 300px !important;
      
      }

    &__title {
        font-size: 2rem;
        color: rgba(12, 30, 74, 1);
        margin:10px 0 10px 3.5rem;
        font-family: "Roboto", sans-serif;
    }

     &__card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 65px;
        margin: 10px 0 10px 0;
        &.drag-enter{
        min-height: 30rem;
          }
     }
}
