.header {
  background: rgba(107, 100, 100, 1);
  height: 50px;

  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
  }

  &__search {
    border: solid 1.5px #ffff;
    border-radius: 3px 3px 3px 3px;
    width: 20rem;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-left: 3.5rem;
    margin-left: 10px;
    background: rgba(199, 191, 191, 1);
    font-size: 1.6rem;

    &:hover {
      background: rgba(224, 215, 215, 1);
    }
  }

  &__seach-btn {
    border: none;
    outline: none;
    background: transparent;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 10px;
    cursor: pointer;

    &::before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: #ffff;
    }
  }

  &__clock {
    margin-right: 10px;
    font-size: 2.5rem;
    color: #ffff;
  }
}
