
.popup {

    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .50);
    top: 0;
    left: 0;
    opacity: 0;
     visibility: hidden;
     overflow-y: auto;
     overflow-x: hidden;
     transition: all 0.8s ease 0s;

    &.open {
        opacity: 1;
        visibility: visible;
        transition: all 0.8s ease 0s;

    }

    &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    transition: all 0.8s ease 0s;
    
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(204, 213, 235, 1);
        color: black;
        width: 80rem;
        height: 40rem;
        padding: 3rem;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        
        &.open {
            transition: all 0.8s ease 0s;
            transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
            opacity: 1;
        }
    }

   

    &__title {
     background:rgba(199, 191, 191, 1);
     width: 70%;
     height: 3rem;
     
    }

   

    &__description {
        background:rgba(199, 191, 191, 1);
        width: 70%;
        flex: 1 ;
        background: #ffff;
        height: 2rem;

    }

    // .popup__footer

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    // .popup__user

    &__user {
    }

    // .popup__btn-add

    &__btn-add {
    }

    // .popup__btn-close

    &__btn-close {
    //     position: absolute;
    // right: 10px;
    // top: 10px;
    }
}
